<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>HR Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="portalTsdRequestsApp">
<div class="content" ng-controller="TsdRequestController">
    <div class="side-bar">
        <h3 class="options-title"> Select the respective form:</h3>
        <button class="btn option" ng-class="{'option-active': currentTab == 'upgrade'}" ng-click="showUpgrade()">
            Request to replace/upgrade equipment
        </button></br>
        <button class="btn option" ng-class="{'option-active': currentTab == 'access'}" ng-click="showAccess()">
            Request access to resources
        </button></br>
        <button class="btn option" ng-class="{'option-active': currentTab == 'bug'}" ng-click="showBug()">
            Submit a bug report
        </button>
    </div>
    <div class="form-holder" ng-switch on="currentTab">
        <upgrade-form ng-switch-when="upgrade"></upgrade-form>
        <access-form ng-switch-when="access"></access-form>
        <bug-form ng-switch-when="bug"></bug-form>
    </div>
</div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/tsd-request-controller.js"></script>
        <script src="scripts/controllers/upgrade-request-controller.js"></script>
        <script src="scripts/controllers/access-request-controller.js"></script>
        <script src="scripts/controllers/bug-request-controller.js"></script>
        <script src="scripts/directives/upgrade-form-directive.js"></script>
        <script src="scripts/directives/access-form-directive.js"></script>
        <script src="scripts/directives/bug-form-directive.js"></script>
        <!-- endbuild -->
</body>
</html>
